
.sae__grid-row {
    
}


    .clear-fix:after
{
    display: table;
    clear: both;

    content: '';
}


.sae__grid-cell__1_4 {
    float: left;
    
    width: 25%;
}

.sae__video {
    width: 100%;
    height: 330px;
    background-color: blue;
}
