
.sae__grid-row {
    
}


    .clear-fix:after
{
    display: table;
    clear: both;

    content: '';
}


.sae__grid-1-4 {
    float: left;
    
    width: 25%;
}

.sae__video {
    width: 100%;
    height: 330px;    
}

.sae__grid-1-3 {
    float: left;
    
    width: 33.33%;
}

.sae__action-button {
    display: block;    
    text-align: center;    
    
}

.ic-btn {
    color: red;
}

.sae__header__icon {
    display: inline-block;
    margin: 5px;
    font-size: 2em;
    color: darkgoldenrod;
    
}

.sae__header-icon {
    
}

.sae__header-logo {
    background-color: darkgray;
}

.sae__navbar-btn {
    background-color: orange;
}

.sae__header-logo__text__font-style {
    color: white;
    
    font-size: 2em;
    text-transform: uppercase;
}
